.git
.gitignore
**/.ipynb_checkpoints
**/__pycache__
**/*.pyc
.venv
python
node_modules
front_docker/node_modules
rust_api/target
rust_api/uploads
rust_api/downloads
rust_api/output
rust_api/jobs.db
output
uploads
downloads
desktop_app/src-tauri/target
test*.pdf
